
<ul class="list-style">
  <li class="list-style">
    <div class="card">
      <div class="card_place_snapshot">
        <a href=""><img src="http://hulafrog.com/hulastock/hulaguides/230x230-Tanglewood-girls.jpg" alt="" class="img_frame"></a>
      </div>
      <div class="card_full_text_block">
        <div class="text-left test">
          <span class="card_hot_title color-pink">Eat - The Berkshires</span>
          <address class="card_hot_line2">18 Rue alphonse allais, 30000 Nimes</address>
          <hr>
        </div>
        <div class="new_media_object">
            <img class="media-object new_media_img pull-left img_circle_gray" width="74" height="74" src="http://www.hulafrog.com/hulastock/publishers/linda_escobar.jpg" alt="Publisher Photo">

            <p class="publisher_quote">Raft, zipline, bike and climb in the Berkshires or take it slow and head to Tanglewood for music and craft activities. Lawn tickets are free to kids under 17. The Yankee Inn is a great family friendly resort with both indoor and outdoor pools for kids to enjoy.
            </p>
            <p>Added by - <strong>Linda Escobar</strong></p>
            <a href=""><p>19 <i class="fa fa-comment-o" aria-hidden="true"></i></p></a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
</li class="list-style">
  <li>
    <div class="card">
      <div class="card_place_snapshot">
        <a href=""><img src="http://hulafrog.com/hulastock/hulaguides/230x230-Tanglewood-girls.jpg" alt="" class="img_frame"></a>
      </div>
      <div class="card_full_text_block">
        <div class="text-left test">
          <span class="card_hot_title color-pink">Eat - The Berkshires</span>
          <address class="card_hot_line2">18 Rue alphonse allais, 30000 Nimes</address>
          <hr>
        </div>
        <div class="new_media_object">
            <img class="media-object new_media_img pull-left img_circle_gray" width="74" height="74" src="http://www.hulafrog.com/hulastock/publishers/linda_escobar.jpg" alt="Publisher Photo">

            <p class="publisher_quote">Raft, zipline, bike and climb in the Berkshires or take it slow and head to Tanglewood for music and craft activities. Lawn tickets are free to kids under 17. The Yankee Inn is a great family friendly resort with both indoor and outdoor pools for kids to enjoy.
            </p>
            <p>Added by - <strong>Linda Escobar</strong></p>
            <a href=""><p>19 <i class="fa fa-comment-o" aria-hidden="true"></i></p></a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </li>
  <li class="list-style">
    <div class="card">
      <div class="card_place_snapshot">
        <a href=""><img src="http://hulafrog.com/hulastock/hulaguides/230x230-Tanglewood-girls.jpg" alt="" class="img_frame"></a>
      </div>
      <div class="card_full_text_block">
        <div class="text-left test">
          <span class="card_hot_title color-pink">Eat - The Berkshires</span>
          <address class="card_hot_line2">18 Rue alphonse allais, 30000 Nimes</address>
          <hr>
        </div>
        <div class="new_media_object">
            <img class="media-object new_media_img pull-left img_circle_gray" width="74" height="74" src="http://www.hulafrog.com/hulastock/publishers/linda_escobar.jpg" alt="Publisher Photo">

            <p class="publisher_quote">Raft, zipline, bike and climb in the Berkshires or take it slow and head to Tanglewood for music and craft activities. Lawn tickets are free to kids under 17. The Yankee Inn is a great family friendly resort with both indoor and outdoor pools for kids to enjoy.
            </p>
            <p>Added by - <strong>Linda Escobar</strong></p>
            <a href=""><p>19 <i class="fa fa-comment-o" aria-hidden="true"></i></p></a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </li>
</ul>







