<nav class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://www.parisianist.com/assets/img/logo-parisianist-purple.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-item navbar-wagon-right">
        <!-- post stuff only on desktop -->
       <a href="" class="navbar-wagon-item navbar-wagon-button btn hidden-xs">Add a FFP</a>
       <a href="" class="color-pink btn navbar-wagon-button navbar-wagon-item">Sign in / Sign up</a>

        <!-- Search form -->
      <form action="" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
      <!-- Profile picture and dropdown -->
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <img src="http://placehold.it/50x50" class="avatar-bordered dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Log Out</a></li>
              </ul>
            </div>
          </div>
  </div>
</nav>
